*{
  margin: 0px;
  padding: 0px;
  color: #FFF;
}
html {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  position: relative;
  width: 100%;
  height: 100%;
}
.cover {
  background: url("background.png") no-repeat center fixed;
  background-size: cover;
}
#tabs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.nav-item a{
  font-size: 2vw;
  color: #FFF;
  text-decoration: none;
}
.main-container{
  width: 100%;
  height: 100%;
}
.main-container h1{
  text-align: center;
  color: #FFF;
  font-size: 4vw;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%
}
.header{
  width: 100%;
  padding: 5%;
  text-align: center;
  font-size: 3vw;
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: multiply;
}
.sub-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2vw;
}
.under-header{
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.under-header button{
  font-size: 1.25vw;
  color: black;
  padding: 10px;
}
