* p {
  color: #54B9EA;
}
* h1 {
  color: #54B9EA;
}
*{
  margin: 0px;
  padding: 0px;
  color: #5AB9EA;
}
html {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  position: relative;
  width: 100%;
  height: 100%;
}
.cover {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5680e9+0,8860d0+100 */
background: #5680e9; /* Old browsers */
background: -moz-linear-gradient(45deg, #5680e9 0%, #8860d0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #5680e9 0%,#8860d0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #5680e9 0%,#8860d0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5680e9', endColorstr='#8860d0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  /*background: url("background.png") no-repeat center fixed;*/
  background-size: cover;
}
#tabs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  transform: translateY(100%);
}
.nav-item a{
  font-size: 2vw;
  text-decoration: none;
  color: #5AB9EA;
}
.main-container{
  width: 100%;
  height: 100%;
}
.main-container h1{
  text-align: center;
  color: #5AB9EA;
  font-size: 4vw;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 85%
}
.header{
  padding: 1% 5%;
  text-align: center;
  font-size: 3vw;
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: multiply;
}
.sub-header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2vw;
}

#tabs .active {
  color: #5AB9EA;
  text-align: center;
  padding: 5%;
  text-decoration: none;
  font-size: 45px;
  border: 5px solid #5AB9EA;
  border-radius: 5px;
}

/*Buttons*/
.button {
  display: grid;
  padding: 5%;
  font-size: 2vw;
  text-align: center;
  text-decoration-color: #5AB9EA;
   background-color: rgba(0, 0, 0, .25);
   color: #5AB9EA;
   border: 5px solid #5AB9EA;
   cursor: pointer;
   border-radius: 5px;
   width: 15vw;
   -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
   align-items: center;
   height: 100px;
   width: auto;
}
.under-header{
  display: grid;
  grid-column-gap: 30px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: -8%;
  color: #5AB9EA;
}
.col2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10%;
}
.main-container h1 {
  text-align: center;
  font-size: 5vw;
  font-weight: 900;
  color: #5AB9EA;
}

/*Profile*/
#profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 40%;
    margin: auto;
    text-align: center;
    border: solid;
}
#profile-title {
    color: ;
    font-size: 20px;
}
.fa-instagram {
    font-size: 80px;
    padding-right: 40px;
    padding-top: 40px;
}
.fa-twitter {
    font-size: 80px;
    padding-right: 40px;
}
.fa-linkedin {
    font-size: 80px;
    padding-right: 40px;
}
.fa-envelope {
  font-size: 80px;
  padding-right: 40px;
}
a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}
button {
  width: 900px;
  height: 60px;
  font-size: 40px;
}
button:hover, a:hover {
    opactiy: 0, 7;
}

/*Card*/
#card {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2% 5%;
}
#card h1 {
  font-size: 50px;
}
#card p {
  font-size: 20px;
}

/*Skill Bar*/
* {box-sizing: border-box}
.container {
    width: 100%;
    background-color: #ddd;
    margin: 2% 0%;
}
.job-container{
  margin-top: 5%;
}
#skill-bar {
    display: flex;
    flex-direction: column;
}
.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 40px;
    color: white;
}
.html {width: 70%; font-size: 30px; background-color: #198adf;}
.css {width: 60%; font-size: 30px; background-color: #544fbd;}
.js {width: 30%; font-size: 30px; background-color: #fd2c21;}

#profile {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2% 5%;
}
#hobbies {
  padding: 2% 5%;
}
#hobbies h1 {
  font-size: 40px;
  text-align: left;
}
#hobbies p {
  font-size: 30px;
}
#hobbies ul li {
  font-size: 30px;
  margin-left: -20px;
  text-align: left;
}
.about {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}
