*{
  margin: 0px;
  padding: 0px;
}
html {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
}
body{
  position: relative;
  width: 100%;
  height: 100%;
}
.cover {
  background: url("background.png") no-repeat center fixed;
  background-size: cover;
}
#tabs{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.nav-item a{
  font-size: 2vw;
  color: #FFF;
  text-decoration: none;
}
.main-container{
  width: 100%;
  height: 100%;
}
.main-container h1{
  text-align: center;
  color: #FFF;
  font-size: 4vw;
}
.align-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85%
}
.controls{
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls button{
  font-size: 1.25vw;
}
